DB_DSN=postgres://openconnect:1234@db:5432/openconnect?sslmode=disable
SMTPPORT=587
SMTPSENDER=mayuraalahakoon@gmail.com
SMTPHOST=smtp.gmail.com
SMTPUSERNAME=mayuraalahakoon@gmail.com
SMTPPASS=bpbngiyvobdbzbla


